# pyhellow-api rest api deployment for AWS EKS cluster
replicaCount: 3

image:
  repository: boldlink/pyhellow:0.0.3
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: LoadBalancer
  port: 80
  annotations: {
    external-dns.alpha.kubernetes.io/hostname: pyhellowapi.tools.boldlink.io,
    external-dns.alpha.kubernetes.io/ttl: 300
  }

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: pyhellow-api.local
      paths: []
  tls: []

resources: {}

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 30
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

env:
  APP_PORT: 8000
  APP_HOST: "0.0.0.0"
  APP_DEBUG: false
  APP_AWS: true

nodeSelector: {}

tolerations: []

affinity: {}
